{{#if shouldDisplay}}
  <div class="custom-search-banner">
    <div class="wrap custom-search-banner-wrap">
      <h1>{{html-safe (theme-i18n "search_banner.headline")}}</h1>      
    </div>
  </div>
{{/if}}
